@{
    ViewData["Title"] = "Random miscellaneous";
}
@model IEnumerable<OptionModel>

<div class="text-center">
    <h1 class="display-4">Random miscellaneous</h1>
    <p class="justify-content-center">
        Descubre un mundo de posibilidades con nuestro generador aleatorio. Ya sea que necesites números, cartas, nombres, contraseñas seguras u otros elementos al azar, estamos aquí para ayudarte. ¡Ideal para juegos, sorteos, creación de contraseñas seguras, y mucho más! Nuestro sitio web ofrece una experiencia rápida, simple y confiable para generar cualquier cosa que necesites de forma instantánea.
    </p>
</div>

<hr />

<!-- Contenedor principal que centra todo el contenido -->
<div class="container-center">
    <div class="grid-container">
        <a href="@Url.Action("NombreDeLaVista", "NombreDelControlador")" class="option">
            <div class="image-container">
                <img src="~/imgs/backgrounds/randNum.png" alt="Generar Números" class="option-image">
                <div class="icon-container">
                    <img src="~/imgs/icons/randNum.png" alt="Ícono Números" class="icon">
                </div>
            </div>
            <h3 class="option-title">Generar Números</h3>
            <p class="option-description">Genera números aleatorios para tus sorteos o experimentos.</p>
        </a>

    </div>
</div>
